<div class="home__container">

    
<app-card 
gameCover="assets/Battlefield_5_capa.png"
gameLabel="NEW"
gameType="Digital | PS3 PS4 PS4"
gamePrice="R$ 399,90"
></app-card>

<app-card 
gameCover="assets/Battlefield_4_capa.png"
gameLabel="Digital"
gameType="Digital | PS4"
gamePrice="R$ 129,99"

></app-card>
<app-card 
gameCover="assets/Battlefield_1_capa.png"
gameLabel="Exclusive"
gameType="Disc | PS5"
gamePrice="R$ 269,99"
></app-card>

<app-card 
gameCover="assets/Battlefield_Hardline_capa.png"
gameLabel="Best Of the Year"
gameType="Digital| PS5"
gamePrice="R$ 369,99"
></app-card>

</div>


